/* styles/Upload.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    padding: 20px;
  }
  